@use '../../abstracts/variables' as *;

.statusBadge {
    color: $statusText;
    font-size: 1rem;
    font-weight: 500;

    &_new {
        background-color: $newStatus;
    }

    &_awaiting-response {
        background-color: $awaitingResponseStatus;
    }

    &_in-progress {
        background-color: $inProgressStatus;
    }

    &_completed {
        background-color: $completedStatus;
    }

    &_cancelled {
        background-color: $cancelledStatus;
    }

    &_success {
        background-color: $successStatus;
    }
}
