// Sizes
$header-height: 3rem;
$sidebar-width: 68px;
$sidebar-extension-width: 160px;
$sidebar-page-gap-width: 32px;
$minWidth: 320px;
// Colors
$primary-color: #0066ff;
$secondary-color: #f7f6fb;
$disabled-item-color: #e0e0e0;
$admin-panel-color: #198754;
$icon-color: gray;
$tableHeaderColor: #212529;
// Fonts
$default-font: "Nunito", sans-serif;
$default-font-size: 1rem;
// Z-indexes
$z-fixed: 100;
